<div class='well'>
  <%= form_for [@post, @comment] do |f| %>
   <div class= 'control-group'>
     <%= f.label "Write a comment" %>
     <%= f.text_field :body %>
    </div>
    <%= f.submit "submit", class: 'btn btn-primary' %>
  <% end %>
</div>